---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostItem from "../../components/BlogPostItem.astro";
import { getCollection } from "astro:content";
const { tag } = Astro.params;
if (typeof tag === "undefined") {
  throw new Error("Undefined");
}
const collection = "posts";
const allPosts = await getCollection(collection);
const myPosts = allPosts.filter((post) => post.data.tags.includes(tag));
const posts = myPosts.filter((post) => post.slug !== "default");

const pageTitle = `Tag: ${tag}`;
---

<BaseLayout pageTitle={pageTitle} navIndex="5">
  <p class="mx-5">
    Posts containing tag <span class="text-xl text-purple-700">{tag}</span>
  </p>
  <ul class="list-disc mx-10">
    {
      posts.map((post) => (
        <BlogPostItem
          url={`/${collection}/${post.slug}`}
          title={post.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
