---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostItem from "../components/BlogPostItem.astro";
import { getCollection } from "astro:content";
import MyTags from "../components/MyTags.astro";

const pageTitle = "Astro Blog";
const navIndex = 2;
const collection = "posts";
const allPosts = await getCollection(collection);
const posts = allPosts.filter((post) => post.slug !== "default");
---

<BaseLayout pageTitle={pageTitle} navIndex={navIndex}>
  <h2 class="text-2xl mx-10">Blog Posts</h2>
  <ul class="list-disc mx-20">
    {
      posts.map((post) => (
        <BlogPostItem
          url={`${collection}/${post.slug}`}
          title={post.data.title}
        />
      ))
    }
  </ul>
  <MyTags />
</BaseLayout>
