---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog"
const navIndex = 2

const listitems = [
  "Pick your framework: we'll use bun and astro",
  "Deploy to GitHub",
  "Connect to Netlify",
];

const blogposts = ["post-1", "post-2"];
---
<BaseLayout pageTitle={pageTitle} navIndex={navIndex}>
  <p class="mx-10">Modern integrations are remarkably simple</p>
    <ul class="list-disc mx-10">
      {listitems.map((x) => <li>{x}</li>)}
    </ul>
    <p class="mx-10">And here you go</p>
    <br> <br>
    <h2 class="text-2xl mx-10">Blog Posts</h2>
    <ul class="list-disc mx-20">
      { blogposts.map( b => <li><a href=`../posts/${b}`>{b}</a></li>) }
    </ul>
</BaseLayout>
