---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostItem from "../../components/BlogPostItem.astro";
import { getCollection } from "astro:content";
const { item } = Astro.params;
if (typeof item === "undefined") {
  throw new Error("item undefined");
}

const collection = "posts";
const allPosts = await getCollection(collection);
const myPosts = allPosts.filter((post) =>
  post.data.body.toLowerCase().includes(item.toLowerCase())
);

const pageTitle = `Search Item: ${item}`;
---

<BaseLayout pageTitle={pageTitle} navIndex="5">
  <p class="mx-5">
    Posts containing <span class="text-xl text-purple-700">{item}</span>
  </p>
  <ul class="list-disc mx-10">
    {
      myPosts.map((post) => (
        <BlogPostItem
          url={`/${collection}/${post.slug}`}
          title={post.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
