---
const { frontmatter } = Astro.props;
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title} navIndex="5">
  <h3 class="text-right mx-10">
    Written by {frontmatter.author}
  </h3>
  <h3 class="text-right mx-10">
    Published on {frontmatter.pubDate.split("T")[0]}
  </h3>
  <Image
    class="mx-10"
    src={frontmatter.image.url}
    alt={frontmatter.image.alt}
    width={frontmatter.image.width}
    height={frontmatter.image.height}
  />
  <p class="mx-10">{frontmatter.body}</p>

  <slot />
</BaseLayout>
